h1, h2, label, p {
    color: white;
}

.bgimg {
    background-color: black;
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* fixed in viewport */
}